<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello WebSocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="main-content">
    <div>
        <form>
            <div>
                <label>What is your name?</label>
                <input type="text" id="name" placeholder="Your name here...">
            </div>
            <button id="send" type="submit">Send</button>
        </form>
    </div>
</div>
<div>
    <label>Message from server: </label><span id="message"></span>
</div>

<script th:src="@{app.js}" type="text/javascript"></script>
</body>
</html>